<header class="header-bg">
  <div class="top-strip">
  </div>
  <div class="top-navbar">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-xs-12">
                  <div class="small-nav">
                      <a href="#"> <img src="../img/logo.jpg" class="img-responsive"> </a>
                  </div>
              </div>
              <div class="col-md-4">             
              </div>
              <div class="col-md-4 col-xs-12 top-icon">
                  <ul class="list-inline pull-right top-social">
                      <li><a href="#" target="_blank"> <img src="../img/facebook.png"> </a></li>
                      
                      <li><a href="#" target="_blank">  <img src="../img/twitter.png">  </a></li>
                      
                      <li><a href="#" target="_blank">  <img src="../img/google-plus.png">  </a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="new-navbar">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <nav class="navbar navbar-default" role="navigation">
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          </button>
                      </div>
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                              <li class="active"><a href="/"> Home</a></li>
                              <li><a href="#"> About us</a></li>
                              <li>
                                  <div class="dropdown menu-large">
                                      <a href="#" class="dropdown-toggle small-full" data-toggle="dropdown"> 3<span style="text-transform: lowercase;">i</span> Services <i class="fa fa-angle-down"></i></a>
                                      <ul class="dropdown-menu services-sub-menu row" style="display: none;">
                                          <li class="col-sm-12 col-xs-12">
                                              <ul class="list-inline">
                                                  <li> <a href="#">
                                                      <img src="../img/individual-info.png" class="img-responsive"> Individuals </a>
                                                  </li>
                                                  <li><a href="#">
                                                      <img src="../img/institution-home.png" class="img-responsive">
                                                      Institutions </a>
                                                  </li>
                                                  <li><a href="#">
                                                      <img src="../img/industry_home.png" class="img-responsive">
                                                      Industries </a>
                                                  </li>
                                                  <li><a href="#">
                                                      <img src="../img/other.png" class="img-responsive">
                                                      Workshops </a>
                                                  </li>
                                                  <li><a href="#">
                                                      <img src="../img/nav-patner.png" class="img-responsive">
                                                      Skill Training <br> Partners </a>
                                                  </li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </div>
                              </li>
                              <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Events <i class="fa fa-angle-down"></i></a>             
                                  <ul class="dropdown-menu" role="menu">
                                      <li><a href="#"> Past Events </a></li>
                                      <li><a href="#"> Upcoming Events  </a></li>
                                  </ul>
                              </li>
                              <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Knowledge Bank <i class="fa fa-angle-down"></i></a>
                                  <ul class="dropdown-menu" role="menu">
                                      <li class="dropdown-submenu">
                                          <a href="#"> Skill India - Initiatives </a>
                                          <ul class="dropdown-menu">
                                              <li><a href="#">List of training centres</a></li>
                                              <li><a href="#">Pictures</a></li>
                                          </ul>
                                      </li>
                                      <li><a href="#"> MOLE / NCS </a></li>
                                      <li><a href="#"> Gallery </a></li>
                                      <li><a href="#"> Videos </a></li>
                                  </ul>
                              </li>
                              <li><a href="#"> careers</a></li>
                              <li><a href="#" target="_blank"> Blog</a></li>
                              <li><a href="#"> Contact </a></li>
                          </ul>
                      </div>
                  </nav>
              </div>
          </div>
      </div>
  </div>
  <div id="toTop" class="btn btn-info" style="display: none;"> <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i> </div>
</header>
<div ui-view="main-view" class="position-relative"></div>
